---
import ExternalLink from "../ExternalLink.astro";
import LanguagePicker from "../../components/LanguagePicker.astro";
import { getTranslations } from "../../i18n/utils";

interface Props {
  id: string;
  sections: {
    name: string;
    label: string;
    attr_data: string;
  }[];
}

const { id, sections } = Astro.props;
const lang = Astro.currentLocale as "es" | "en";
const t = getTranslations(lang);
const socialLinks = t("social");
---

<div
  id={id}
  class="fixed inset-0 w-full h-screen bg-black/60 backdrop-blur-2xl z-40 flex flex-col items-center justify-center gap-8 opacity-0 pointer-events-none transition-all duration-300"
>
  <nav class="flex flex-col gap-12 justify-center items-center h-4/5">
    {
      sections.map(({ name, label, attr_data }) => (
        <a
          href={`#${name}`}
          data-section={attr_data}
          class="mobile-link text-white text-3xl font-fira-sans-extra-condensed font-bold tracking-widest hover:text-amber-400 transition-colors capitalize"
        >
          {label}
        </a>
      ))
    }
    <LanguagePicker id="language-picker" />
  </nav>
  <div
    id="social-links"
    class="flex flex-row flex-wrap gap-4 h-1/5 justify-center items-center"
  >
    {
      socialLinks.map(({ name, url, icon }) => (
        <ExternalLink name={name} url={url} icon={icon} design="simple" />
      ))
    }
  </div>
</div>

<script>
  import { $, $$ } from "../../utils/selectors";
  import {
    gsap,
    GsapBreakpoints,
    type GsapBreakpointsType,
  } from "../../utils/gsapConfig";

  function toggleMenu() {
    const btn = $("#mobile-menu-btn");
    const menu = $("#mobile-menu");
    const menuIcon = $("#menu-icon");
    const closeIcon = $("#close-icon");
    const links = $$(".mobile-link");
    const languagePicker = $("#language-picker");
    const socialLinks = $("#social-links");

    if (
      !btn ||
      !menu ||
      !menuIcon ||
      !closeIcon ||
      !links?.length ||
      !socialLinks ||
      !languagePicker
    )
      return;

    const mm = gsap.matchMedia();
    let isOpen = false;

    const tl = gsap.timeline({ paused: true });

    tl.to(menuIcon, { scale: 0, opacity: 0, duration: 0.2 })
      .to(closeIcon, { scale: 1, opacity: 1, duration: 0.2 }, "<")
      .to(
        menu,
        {
          opacity: 1,
          pointerEvents: "all",
          duration: 0.4,
          ease: "power3.out",
        },
        "-=0.1"
      )
      .from(
        [links],
        {
          y: 20,
          opacity: 0,
          stagger: 0.05,
          duration: 0.5,
          ease: "power3.out",
        },
        "-=0.2"
      )
      .fromTo(
        [languagePicker, socialLinks],
        {
          y: 20,
          opacity: 0,
        },
        {
          y: 0,
          opacity: 1,
          stagger: 0.1,
          duration: 0.5,
          ease: "power3.out",
        },
        "-=0.2"
      );
    const toggle = () => {
      isOpen ? tl.reverse() : tl.play();
      isOpen = !isOpen;
    };
    const clearProps = () => {
      gsap.set(
        [menu, menuIcon, closeIcon, links, languagePicker, socialLinks],
        { clearProps: "all" }
      );
    };

    btn.addEventListener("click", toggle);

    links.forEach((link) => link.addEventListener("click", toggle));

    mm.add({ ...GsapBreakpoints }, (context) => {
      let { isMobile } = context.conditions as GsapBreakpointsType;

      if (isMobile) {
        clearProps();
        tl.invalidate().progress(0).pause();
        isOpen = false;
        return;
      }

      isOpen = false;
      clearProps();
    });
  }

  toggleMenu();
</script>
