---
import Paragraph from "./typography/Paragraph.astro";
import { Image } from "astro:assets";
import ExternalLink from "./ExternalLink.astro";
import { Icon } from "astro-iconify";
import { getTranslations } from "../i18n/utils";

const lang = Astro.currentLocale as "es" | "en";
const t = getTranslations(lang);
const footerText = t("footer");
const socialLinks = t("social");
---

<footer
  id="footer"
  class="min-h-svh flex flex-col justify-between bg-[#202020] overflow-hidden fixed inset-0 top-0 z-0"
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 h-full place-content-center gap-6 md:gap-10 px-4"
  >
    <div class="md:items-center md:justify-center flex">
      <div
        class="relative w-80 h-80 md:w-96 md:h-96 lg:w-104 lg:h-104 overflow-hidden mx-auto"
      >
        <Image
          inferSize={true}
          loading="lazy"
          src="https://res.cloudinary.com/dy8gpozi6/image/upload/v1765154077/tom_f0v8qy.webp"
          alt="Hero Image"
          class="w-full h-full object-cover pointer-events-none select-none mask-[url(https://res.cloudinary.com/dy8gpozi6/image/upload/v1765157809/mask-profile_raa16q.webp)] mask-size-[110%_90%] mask-center mask-no-repeat"
        />
      </div>
    </div>

    <div
      class="flex flex-col gap-4 w-full max-w-lg justify-self-center self-center"
    >
      <Paragraph
        customClass="text-neutral-400 md:text-lg leading-relaxed text-center md:text-left"
      >
        {footerText.description}
      </Paragraph>

      <nav aria-label={footerText.socialLinksAria}>
        <ul class="flex flex-col gap-3">
          {
            socialLinks.map((link) => (
              <li>
                <ExternalLink {...link} />
              </li>
            ))
          }
        </ul>
      </nav>

      <div class="mt-2 text-center md:text-left">
        <a
          href={footerText.viewCode.url}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center gap-2 text-xs text-neutral-500 hover:text-neutral-300 transition-colors duration-300 font-dm-mono"
        >
          <Icon name="mdi:code-tags" class="w-4 h-4 pointer-events-none" />
          <span class="pointer-events-none">{footerText.viewCode.text}</span>
        </a>
      </div>
    </div>
  </div>

  <div class="w-full border-t border-neutral-700/30 my-6"></div>

  <p
    class="text-center text-lg sm:text-3xl lg:text-5xl xl:text-7xl -tracking-wider text-neutral-500 overflow-hidden relative min-h-24 sm:min-h-32 content-center font-fira-sans-extra-condensed"
    id="footer-content"
    aria-label={footerText.developedBy}
  >
    {
      footerText.developedBy.split("").map((char) => (
        <span
          class={`char relative inline-block  will-change-transform font-inherit`}
          aria-hidden="true"
        >
          {char === " " ? "\u00A0" : char}
        </span>
      ))
    }
  </p>
</footer>
