---
import Folder from './Folder.astro';
import { sections } from '../data';
---
<nav class="w-full flex flex-col">
  {
    sections.map((row ,idxRow) => (
        <div class={`flex flex-col md:flex-row gap-0 mb-0 `
        }>
            {
                row.map((section, idxSection) => {
                    const path = section.name === 'home' ? '/' : `/${section.name.replaceAll(' ', '-')}/`;

                    return (
                    <a href={path} class="flex-1 no-underline" >
                        <Folder
                            name={section.name} 
                            index={section.index} 
                            images={section.images}
                            backgroundColor={section.backgroundColor}
                            customClass={`${idxRow === 1 && idxSection === 0 ? 'md:flex-2' : 'md:flex-3'} h-24 md:h-36`} 
                        />
                    </a>
                    )
                })
            }
        </div>
    ))
  }
</nav>
