---
import FloatingElements from "../components/FloatingElements.astro";
import ContactForm from "../components/ContactForm.astro";
import Paragraph from "../components/typography/Paragraph.astro";
import DecorativeAccent from "../components/base/DecorativeAccent.astro";
import Title from "../components/typography/Title.astro";
import CardGlassB from "../components/CardGlassB.astro";
import { getTranslations } from "../i18n/utils";

const lang = Astro.currentLocale as "es" | "en";
const t = getTranslations(lang);
const contactT = t("contactSection");
---

<section
  id="contact"
  data-section={contactT.attr_data}
  class="section-page relative min-h-dvh p-4 lg:p-8 overflow-hidden"
>
  <div
    class="relative max-w-7xl mx-auto grid gap-12 lg:grid-cols-2 lg:gap-16 lg:items-center min-h-dvh py-12 lg:py-0"
  >
    <header class="relative z-10">
      <div class="space-y-6">
        <DecorativeAccent />

        <Title id="contact-title">
          {contactT.title}
        </Title>

        <Paragraph id="contact-description">
          {contactT.description}
        </Paragraph>

        <div class="space-y-4 mt-12">
          {
            contactT.info.map((info) => (
              <CardGlassB
                icon={info.icon}
                label={info.label}
                value={info.value}
              />
            ))
          }
        </div>

        <FloatingElements />
      </div>
    </header>

    <div class="contact-form relative z-10">
      <ContactForm />
    </div>
  </div>
</section>

<script>
  import { createRevealSectionTL } from "../utils/createRevealSectionTL";
  import { gsap } from "../utils/gsapConfig";
  import { $ } from "../utils/selectors";

  function animateContactSection() {
    const cardsEl = gsap.utils.toArray(".card-info");
    const formEl = $(".contact-form");
    const tl = createRevealSectionTL("#contact-title", "#contact-description");

    if (cardsEl.length === 0 || !formEl || !tl) {
      return;
    }

    tl.fromTo(
      cardsEl,
      { opacity: 0, y: 20 },
      {
        opacity: 1,
        y: 0,
        duration: 0.2,
        stagger: 0.1,
        ease: "power3.out",
      },
      "<"
    ).fromTo(
      formEl,
      { opacity: 0, x: 50 },
      {
        opacity: 1,
        x: 0,
        transformOrigin: "left",
        ease: "power3.out",
        stagger: 0.15,
      },
      "<"
    );
  }

  animateContactSection();
</script>
