---
import Title from "../components/typography/Title.astro";
import Paragraph from "../components/typography/Paragraph.astro";
import DecorativeAccent from "../components/base/DecorativeAccent.astro";
import GridFramewrokCards from "../components/GridFramewrokCards.astro";
import CardGlassA from "../components/CardGlassA.astro";
import { getTranslations } from "../i18n/utils";

const lang = Astro.currentLocale as "es" | "en";
const t = getTranslations(lang);
const extrasT = t("extras");
const extraProjects = extrasT.list;
const statsData = extrasT.stats;
---

<section
  id="extras"
  data-section={extrasT.attr_data}
  class="extras-section section-page relative min-h-dvh content-center overflow-hidden py-20 lg:py-0"
>
  <div class="relative max-w-7xl mx-auto px-4 lg:px-8">
    <div class="grid h-full lg:grid-cols-2 gap-12 lg:gap-16 lg:items-center">
      <header class="extras-header space-y-6">
        <DecorativeAccent />
        <Title id="extras-title"> {extrasT.sectionTitle} </Title>

        <Paragraph id="extras-description">
          {extrasT.sectionDescription}
        </Paragraph>

        <div class="stats-grid hidden lg:grid lg:grid-cols-2 gap-4 mt-12">
          {
            statsData.map(({ value, label, gradient }) => (
              <CardGlassA value={value} label={label} gradient={gradient} />
            ))
          }
        </div>
      </header>

      <GridFramewrokCards extras={extraProjects} />
    </div>
  </div>
</section>

<script>
  import { gsap } from "../utils/gsapConfig";
  import { createRevealSectionTL } from "../utils/createRevealSectionTL";

  function animateExtrasSection() {
    const cardsFrameworks = gsap.utils.toArray<HTMLElement>(".card-wrapper");
    const cardStats = gsap.utils.toArray<HTMLElement>(".stats-card");
    const mainTl = createRevealSectionTL(
      "#extras-title",
      "#extras-description"
    );

    if (mainTl && cardStats.length) {
      mainTl.fromTo(
        cardStats,
        { opacity: 0, y: 20 },
        {
          opacity: 1,
          y: 0,
          duration: 0.2,
          stagger: 0.1,
          ease: "power3.out",
        },
        "<"
      );
    }

    if (!cardsFrameworks.length) return;

    cardsFrameworks.forEach((card) => {
      gsap.fromTo(
        card,
        {
          opacity: 0,
          x: 100,
        },
        {
          scrollTrigger: {
            trigger: card,
            start: "top 80%",
            end: "top 20%",
            toggleActions: "play none none reverse",
          },
          opacity: 1,
          x: 0,
          ease: "power3.out",
          duration: 0.2,
        }
      );
    });
  }

  animateExtrasSection();
</script>
